.ma {
    text-align: center;
    background-color: black;
}

h1 {
    text-align: center;
    color: red;
}

h2 {
    color: blue;
}

.ma1 {
    text-align: center;
    font-size: x-large;
}

.ma2 {
    font-size: x-large;
}

p {
    font-size: large;
}