.ma {
    text-align: center;
    background-color: black;
}

h1 {
    color: red;
    text-align: center;
}

h2 {
    color: blue;
}

.ma1 {
    text-align: center;
    font-size: large;
}