.ma {
    text-align: center;
    background-color: black;

}

.ma1 {
    text-align: center;
    color: orangered;
}

h2 {
    color: blue;
}

.ma2 {
    text-align: center;
    font-size: 2em;
}

p {
    font-size: large;
}

.ma5 {
    text-align: center;
    font-size: xx-large;
}