.ma {
    text-align: center;
    background-color: black;
}

h1 {
    color: red;
    text-align: center;
}

h2 {
    color: blue;
}


.ma3 {
    text-align: center;
}

p {
    font-size: large;
}