.ma {
    background-color: black;
    text-align: center;
}

h2 {
    text-align: center;
    color: red;
}

p {
    font-size: large;

}

li {
    text-align: center;
    color: lightseagreen;
}