.ma {
    text-align: center;
    background-color: black;
}

h1 {
    text-align: center;
    color: red;
}

p {
    font-size: large;
}

pre {
    text-align: center;
    font-size: x-large;
}